<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <h1 class="text-center">Eat All Burger</h1>
        </div>
        <div class="mb-3 row d-flex justify-content-center">
        <img src="/assets/img/burgers.png" alt="burgers" height="200px">
        </div>
</div>
    <div class="row">
        <div class="col-sm">
            
            {{#each food}}
            {{#unless devoured}}
            <div>{{burger_name}}<button value={{id}} class="devoure ml-3">eat da burger</button></div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-sm">
            {{#each food}}
            {{#if devoured}}
            <div>{{burger_name}}</div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">

            <div class="mb-3, font-weight-bolder text-center">Make The Burger</div>

            <form id="burgerName">
                <label>Burger Name
                    <input id="name" type="text">
                </label>
                <button>Submit</button>
            </form>
        </div>
    </div>
</div>